{% extends 'base.html' %}
{% block content %}
  <h2>Product List</h2>
  <ul>
    {% for product in products %}
      <li>
        <a href="{% url 'product_detail' product.pk %}">{{ product.product_name }}</a>
        - ${{ product.price }}
        <a href="{% url 'edit_product' product.pk %}" class="btn btn-warning btn-sm">Edit</a>
        <a href="{% url 'delete_product' product.pk %}" class="btn btn-danger btn-sm">Delete</a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'add_product' %}" class="btn btn-success">Add New Product</a>
{% endblock %}




